.produit{
	display: flex;
	align-items: center;
	margin:auto;
	justify-content:center;
}

#bougie, #literie,#lampe{
	margin-top:1em;
	border-top:1px dotted #999;
	padding-top:1em;
}

.desc_prod{
	max-width:30%;
}
	
.boutons {
	margin:50px; /* espacement entre les boutons*/
	min-width:80px;
	text-indent: 0.5em;
	padding: 0.5em 0.5em 0.5em 0;
	border-radius:5px;
	box-shadow:  0 0 2px #555;
	background:#999; /*couleur du fond*/
	text-decoration: none;
	color:white;
	}

.table-produits
{
	width:100ex;
	margin:auto;
	border:0;
	padding:6;
}

.style-produits
{
	font-style:Arial, Helvetica,"sans-serif";
	font-size: em;
}

.images-produits
{
	margin:30px;
	position: relative;
	float: left;
	border:1px;
	width:20ex;
	height:20ex;	
}

section a {
	color:white;
	text-decoration: none;
}

