section aside {
	display: flex;
	align-items: center;
	justify-content: center;
}

section img {
	margin:30px;
	border:1px solid lightgrey;
	border-radius: 4px;
	width:20ex;
}

section div { width:30%; }

section > hr, section article > hr { border-top:1px dotted #999; }

section > hr { width: 55%; }

section article > hr { width: 10%; }

