section { font-weight: bold; }

section a {
    font-style: italic;
    text-decoration: underline;
    color: black;
}

section form {
    width: 50%;
    margin: auto;
    text-align: left;
}

section table {
    border-color: white;
    width: 100%;
    min-height: 0;
}

section table td:first-of-type { padding: 0 1em 0 0; }

section table th:last-of-type, table td:last-of-type { padding: 0 0 0 1em; }

section .form_input {
    width: 100%;
    margin: 0.2em;
    padding: 0.4em 0;
    font-size: small;
}
