section { font-weight: bold; }

section .title1 { font-size: 1.75em;}

section .title2 { font-size: 1em;}

section article {
    border: 0;
    width: 50%;
    margin: auto;
    text-align: left;
}

section .contenu { text-align: left; }

section .form_input {
    padding: 0.4em 0;
    margin: auto;
}

section a {
    font-style: italic;
    text-decoration: underline;
    color: black;
}

section label { font-size: 1em; }

section table { width: 100%; }

section table td:first-of-type { padding: 0 1em 0 0; }

section table th:last-of-type, table td:last-of-type { padding: 0 0 0 1em; }

section input:not(.genre):not(.bouton) {
    width: 100%;
    margin: 0.2em;
    font-size: small;
}

section .genre { font-weight: bold; }

section .genre:nth-of-type(2) { margin-left: 1em; }

section .bouton {
    background-color: #999;
    color: white;
    display: block;
    width: 75%;
    margin: auto;
    padding: 0.4em; 
    border-radius: 4px;
}

section .bouton:hover { cursor: pointer; }

