menu, menu a {
	padding: 0;
	color: white;
}


/* gestion des menus */
menu li {
	position: relative;
	display: inline-block;
	margin: 10px 50px; /* espacement entre les boutons*/
	width: 8em;
	padding: 0.5em;
	border-radius:5px;
	box-shadow: 0 0 2px #555;
	background-color: #999; /*couleur du fond*/
}

menu li:hover { background-color: #ccc; }

menu li ul {
	position: absolute;		/* mise en place du menu déroulant */
	left: -2.2em;
	display: none;			/* ne pas afficher les menus déroulants */
}

menu li:hover ul, menu li:focus ul, menu li ul li {/* on affiche le menu au survol et au clic */
	display: block;
	margin: 0;
}