section span {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0.4em 0 ;
	margin:50px; /* espacement entre les boutons*/
}

section > a {
	color: black;
    text-decoration: underline;
}

