section {
    font-weight: bold;
    width: 50%;
    margin: auto;
}

section img {
    float: left;
    border-radius: 8px;
    width: 12%;
    border: 1px dotted #999;
}

section div {
    width: 65%;
    margin: auto;
    margin-bottom: 0.7em;
    text-align: left;
}

section span:first-of-type { padding: 0 1em 0 0; }

section span:last-of-type { padding: 0 0 0 1em; }
