a {
text-decoration: none;
color: white;
}

#header{
	display:table;
    height:35px;
    width:100%;
    background-color:black;
}
.recherche_p
{
	position: absolute;
	top:15px;
	right:20px;
}

.connexion
{
	position: absolute;
	top:15px;
	right:300px;
}

.panier
{
	height:20px;
	width: 20px;
	position: absolute;
	top:15px;
	right:260px;
}

.logo
{
	display:block; /* indique le format comme un bloc */
	width:auto; /*Le navigateur calcule une largeur pour l'élément */
	margin:auto; /* centre le bloc */
}

#menu
{
	display:table; /* indique le format comme une table */
	margin:auto;  
	padding:0;	/* réinitialiser la marge interne */
}
#menu li{
	display:inline-block; /* indique le format comme un bloc en 1 ligne */
	}
#menu ul {
	padding:0;			 	
	position:absolute;		/* mise en place du menu déroulant */
	}
#menu ul li {
	display:block;	
	}

/* gestion des menus */

#menu ul  {
	display:none;			/* ne pas afficher les menus déroulants */
	}
/* on affiche le menu au survol et au clic */
#menu li:hover ul ,#menu li:focus ul{
	display:block;
	left:auto;				/* on laisse le navigateur pausitionner  */
	}

#menu  {
	color:white;
	border-radius:5px;	/* créer des bordure arrondie */
	text-align:center;	
	}
#menu  li  {
	margin:50px; /* espacement entre les boutons*/
	min-width:80px;
	text-indent: 0.5em;
	padding: 0.5em 0.5em 0.5em 0;
	border-radius:5px;
	box-shadow:  0 0 2px #555;
	background:#999; /*couleur du fond*/
	}
	
#menu li li {
	margin:0px;
}

#menu li:hover {
	background:#ccc;
	cursor:pointer;
	}
#menu li li:hover {
	margin:0px;
	background:#ccc;
	}

/* Le bloc des images defilantes */	
.slider-holder
{
    width: 800px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
	overflow: hidden; /* les autres images soient câchées */
}
 
 /* Le fond du bloc des images défilantes + boutons */
.image-holder
{
    width: 2400px;
    background-color: white;
    height: 400px;
    position: relative; /* permet de choisir la position des images */
    transition: left 2s; /* temps de transition entre 2 images */
}
      
.slider-image
{
	float: left;
	margin: 0px;
    padding: 0px;
    position: relative;
}

/* target est une pseudo-class qui permet de s'occuper d'element non affiches */
#slider-image-1:target ~ .image-holder
{
    left: 0px;
}
    
#slider-image-2:target ~ .image-holder
{
    left: -800px;
}
       
#slider-image-3:target ~ .image-holder
{
    left: -1600px;
}
      
.button-holder
{
    position: relative;
    top: -20px;
}
    
.slider-change
{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: silver;
}
