section article {
    font-weight: bold;
    width: 50%;
    margin: auto;
    text-align: right;
}

section img {
    display: block;
    margin: auto;
    margin-bottom: 2em;
    height: 370px;
}

section form {
    display: flex;
	justify-content: space-around;
	padding: 0.4em 0 ;
}
