/*$$$$$ STYLE ACCUEIL $$$$$*/

/* Le bloc des images defilantes */	
#pageAccueil article {
    width: 800px;
    margin: auto;
    margin-top: 50px;
	overflow: hidden; /* les autres images soient câchées */
}
 
 /* Le fond du bloc des images défilantes + boutons */
 #pageAccueil .image-holder {
    width: 2400px;
    height: 400px;
    position: relative; /* permet de choisir la position des images */
    transition: left 2s; /* temps de transition entre 2 images */
}
      
#pageAccueil .slider-image { float: left; }

/* target est une pseudo-class qui permet de s'occuper d'element non affiches */
#pageAccueil #slider-image-1:target ~ .image-holder { left: 0px; }
    
#pageAccueil #slider-image-2:target ~ .image-holder { left: -800px; }
       
#pageAccueil #slider-image-3:target ~ .image-holder { left: -1600px; }
      
#pageAccueil .button-holder {
    position: relative;
    top: -20px;
}

#pageAccueil .slider-change {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: silver;
}



/*$$$$$ STYLE BOUTIQUE_SEARCH $$$$$*/
#pageBoutiqueSearch aside {
	display: flex;
	align-items: center;
	justify-content: center;
}

#pageBoutiqueSearch img {
	margin:30px;
	border:1px solid lightgrey;
	border-radius: 4px;
	width:20ex;
}

#pageBoutiqueSearch div { width: 30%; }

#pageBoutiqueSearch > hr { border-top: 1px dotted #999; }

#pageBoutiqueSearch article > hr { border-top: 2px dotted #999; }

#pageBoutiqueSearch > hr { width: 55%; }

#pageBoutiqueSearch article > hr { width: 10%; }



/*$$$$$ STYLE INSCRIPTION_CONNEXION $$$$$*/
#pageInscriptionConnexion { font-weight: bold; }

#pageInscriptionConnexion a {
    font-style: italic;
    text-decoration: underline;
    color: black;
}

#pageInscriptionConnexion form {
    width: 50%;
    margin: auto;
    text-align: left;
}

#pageInscriptionConnexion table {
    border-color: white;
    width: 100%;
    min-height: 0;
}

#pageInscriptionConnexion table td:first-of-type { padding: 0 1em 0 0; }

#pageInscriptionConnexion table th:last-of-type, #pageInscriptionConnexion td:last-of-type { padding: 0 0 0 1em; }

#pageInscriptionConnexion .form_input {
    width: 100%;
    margin: 0.2em;
    padding: 0.4em 0;
    font-size: small;
}



/*$$$$$ STYLE PANIER $$$$$*/
#pagePanier span {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0.4em 0 ;
	margin:50px; /* espacement entre les boutons*/
}

#pagePanier td { 
    width: 20%;
    border-top: 1px solid lightgrey;
 }

#pagePanier > a {
	color: black;
    text-decoration: underline;
}

#pagePanier table input#supprimerArticle {
    margin-right: 0.7em;
    margin-top: 0.5em;
}



/*$$$$$ STYLE PRODUIT $$$$$*/
#pageProduit aside {
	display: flex;
	justify-content: space-around;
	margin:50px;
}

#pageProduit td { width: 30%; }

#pageProduit .visuel, #pagePanier .visuel {
	border: 1px solid lightgrey;
	border-radius: 4px;
	width: 15ex;
}



/*$$$$$ STYLE PROFIL $$$$$*/
#pageProfil {
    font-weight: bold;
    width: 50%;
    margin: auto;
}

#pageProfil img {
    float: left;
    border-radius: 8px;
    width: 12%;
    border: 1px dotted #999;
}

#pageProfil div {
    width: 65%;
    margin: auto;
    margin-bottom: 0.7em;
    text-align: left;
}

#pageProfil span:first-of-type { padding: 0 1em 0 0; }

#pageProfil span:last-of-type { padding: 0 0 0 1em; }



/*$$$$$ STYLE VALID_CONFIRM $$$$$*/
#pageValidConfirm article {
    font-weight: bold;
    width: 50%;
    margin: auto;
    text-align: right;
}

#pageValidConfirm img {
    display: block;
    margin: auto;
    margin-bottom: 2em;
    height: 370px;
}

#pageValidConfirm span {
    display: flex;
	justify-content: space-around;
    padding: 0.4em 0;
}




/*
regroupement logique des pages :
client :    accueil - inscription - connexion - profil - recherche
achat :     boutique - produit - confirmation - panier - validation
l'appliquer?
*/