/*$$$$$ STYLE COMMMUN $$$$$*/

body {
	font-family: Georgia;
	text-align: center;
}

section { min-height: 40ex; }

.title1 { font-size: 1.75em; }

.title2 { font-size: 1.5em; }

a {
	cursor: pointer;
    text-decoration: none;
}

.button1:hover, .button2:hover, .buttonNav:hover { cursor: pointer; }

.button1, .button2 {
	border: 1px solid gray;
	border-radius:5px;
	padding: 0.5em;
    color: white;
    background: #999; /*couleur du fond*/
	box-shadow:  0 2px 4px #555;
    font-weight: bold;
}

.button2 {
    width: 75%;
    margin: 0 12.5%;
}

.buttonNav {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 0.28em 1.6em;
	color: #4b4b50;
	background-color: #f8f8f7;
}

table {
	margin: auto;
	border-collapse: collapse;
	border: 1px solid gray;
	min-height: 15em;
    width: 70%;
}

thead th, thead td {
	height: 50px;
	background-color: #BBB;
	color: white;
}




/*$$$$$ STYLE HEADER $$$$$*/

header h1 { 
    width: 50%;
    margin: auto;
}

header h1:hover img { border-bottom: 1px solid lightgray;}

header h1 img {
	display: block;
	margin: auto;
}

nav {
    height: 35px;
    background-color: black;
}

nav > .buttonNav, nav form:first-of-type, nav form:last-of-type {
	position: absolute;
	top: 15px;
}

nav > .buttonNav { left: 1em;}

nav form:first-of-type { left: 10em;}

nav form:last-of-type { right: 6em;}

nav form span input { width: 14em;}

nav img {
	position: absolute;
	top: 6px;
	right: 1em;
	border-radius: 4px;
	border: 1px solid #999;
	height: 50px;
}




/*$$$$$ STYLE MENU $$$$$*/

menu, menu a {
	padding: 0;
	color: white;
}


/* gestion des menus */
menu li {
	position: relative;
	display: inline-block;
	margin: 10px 50px; /* espacement entre les boutons*/
	width: 8em;
	padding: 0.5em;
	border-radius:5px;
	box-shadow: 0 0 2px #555;
	background-color: #999; /*couleur du fond*/
}

menu li:hover { background-color: #ccc; }

menu li ul {
	position: absolute;		/* mise en place du menu déroulant */
	left: -2.2em;
	display: none;			/* ne pas afficher les menus déroulants */
}

menu li:hover ul, menu li:focus ul, menu li ul li {/* on affiche le menu au survol et au clic */
	display: block;
	margin: 0;
}




/*$$$$$ STYLE MENU & FOOTER $$$$$*/

menu hr, footer hr {
	width: 70%;
	border: 1px solid lightgrey;
}

footer {
    margin-top: 50px;
    font-weight: bold;
}